### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
*.iml
.idea/
out/
debug/
.idea_modules/
indexpath/
/dist/
/client/node_modules/
/client/package-lock.json


*.class
*.jar
*.war
*.ear
*.tmp
*.exe
*.log

thumbs.db
.DS_Store

target/

###  Config Files andron13
*.cnf

add on 3.3.19

/.classpath
/.factorypath
/DB-and-API/*.vsdm
/DB-and-API/*.pdf

# i don't know what ".project" means
/.project
/*.stackdump