<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
   <head>
          <meta charset="UTF-8" />
          <title>Add Recipe</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Create a Recipe:</h1>
      <!--/*@thymesVar id="addrecipeweb" type="templates"*/-->
      <tr th:each ="recipeweb : ${addrecipeweb}">
          <td th:utext="${recipeweb.title}">Title</td>
          <td th:utext="${recipeweb.announce}">Anounce</td>
          <td th:utext="${recipeweb.author}">Author</td>
          <td th:utext="${recipeweb.cookingTime}">CookingTime</td>
          <td th:utext="${recipeweb.ingredients}">Ingredients</td>
          <td th:utext="${recipeweb.instructions}">Instruction</td>
          <td th:utext="${recipeweb.prepTimeMinute}">PrepTimeMinute</td>

          <td th:utext="${recipeweb.tags}">Tags</td>

          <td th:utext="${recipeweb.rate}">Rate</td>
          <br>
      </tr>
      <!--
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
         -->

      <form th:action="@{/addrecipe}"
                     th:object="${recipeWeb}" method="POST">
          <label>
              Title:
              <input type="text" th:field="*{title}"/>
          </label>
             <br/>
              Announce:
          <label>
              <input type="text" th:field="*{announce}" />
          </label>
          <br/>
          Author:
          <label>
              <input type="text" th:field="*{author.nameaAuthor}" />
          </label>
          <br/>
          Ingredients:
<!--/*@thymesVar id="Ingredient" type="de.recipe.model.Ingredient"*/-->
<form th:object="${Ingredient}" >
    <label>
        <input type="text"  th:field="*{nameIngredient}"  name="Ingredients[nameIngredient]">
    </label>

    <label>
        <input type="text"  th:field="*{descriptions}" name="Ingredients[descriptions]">
    </label>


</form>
          <br>

             <input type="submit" value="Create" />
          </form>

      <br/>

      <!-- Check if errorMessage is not null and not empty -->

      <div th:if="${errorMessage}" th:utext="${errorMessage}"
                    style="color:red;font-style:italic;">
             ...
          </div>

   </body>
</html>