<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Recipe List</h1>
<a href="/index">Home</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>title</th>
            <th>announce</th>
            <th>Author</th>
            <th>CookingTime</th>
            <th>Ingredients</th>
            <th>Instruction</th>
            <th>PrepTimeMinute</th>
            <th>PublicationDate</th>
            <th>Rate</th>
            <th>Taxonomy</th>
            <th>Comment</th>

        </tr>


        <tr th:each="RecipeWebOutput: ${recipeall}">
            <td th:utext="${RecipeWebOutput.title}"></td>
            <td th:utext="${RecipeWebOutput.announce}"></td>
            <td th:utext="${RecipeWebOutput.author}"></td>
            <td th:utext="${RecipeWebOutput.cookingTime}"></td>
            <td th:utext="${RecipeWebOutput.ingredients}"></td>
            <td th:utext="${RecipeWebOutput.instructions}"></td>
            <td th:utext="${RecipeWebOutput.prepTimeMinute}"></td>
            <td th:utext="${RecipeWebOutput.publicationDate}"></td>
            <td th:utext="${RecipeWebOutput.rate}"></td>
            <td th:utext="${RecipeWebOutput.tags}"></td>
            <td th:utext="${RecipeWebOutput.comment}"></td>
            <br>
        </tr>
    </table>
</div>
</body>
</html>