<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Searc by Id</title>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>
<div style="text-align: center;color: crimson">Search</div>
<a class="badge badge-primary" href="/web/index"> ___Home___ </a>

<br/>
<br/>
<form method="post" th:action="@{/recipes/web/title/}" th:object="${id}">
    <label>
        <input class="form-control input-lg" th:field="${id.title}" type="text"/>
    </label>
    <button class="btn btn-success" type="submit">SearchByTitle</button>

</form>
<br/>
<br/>
<form method="post" th:action="@{/recipesbyid/web/}" th:object="${id}">
    <label>
        <input class="form-control input-lg" th:field="${id.id}" type="number"/>
    </label>
    <button class="btn btn-success" type="submit">SearchById</button>
</form>
<br/>
<br/>
<form method="post" th:action="@{/recipes/web/author/}" th:object="${id}">
    <label>
        <input class="form-control input-lg" th:field="${id.author.name}" type="text"/>
    </label>
    <button class="btn btn-success" type="submit">SearchByAuthor</button>

</form>
</body>
</html>